.quiz-item {
  position: relative;
}
.edit-quiz {
  top: -10px;
  color: blue;
}
.delete-quiz {
  top: 5px;
  color: red;
}

.quiz-item span {
  position: absolute;

  right: 10px;

  cursor: pointer;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 120px;
  height: 20px;
  background: linear-gradient(#000 0 0) 0/0% no-repeat #ddd;
  animation: l1 2s infinite linear;
}
@keyframes l1 {
  100% {
    background-size: 100%;
  }
}
